<p>Gallery Works</p>



<div class="container">
    <ul class="">
        <li  *ngFor="let image of images">
              <div class="img-container">
                <img src={{relativePath+image.path}} class="img-thumbnail my-img">
              </div>
              <span>{{image.name}}</span>
        </li>
      </ul>

</div>


<!-- <div *ngFor="let image of images" class="gallery-img-container"> 
  <a>
    <img src={{relativePath+image.path}} alt={{image.name}} class="gallery-img" > 
  </a>
  <div class="gallery-img-desc">{{image.name}}</div>
</div> -->

<!-- create a modal for each img -->


